<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>

<body>
    <div class="mennu">
        <% if(locals.logged) {%>
            <%- locals.userName %>
                <a href="/logout">ログアウト</a>
                <a href="/post/new">投稿</a>
                <%}%>
                    <% if(!locals.logged) {%>
                        <a href="/login">ログイン</a>
                        <a href="/register">登録</a>
                        <%}%>
    </div>