<%- include('header') %>
<p>ログイン</p>
<form>
   <div>
       <input type="text" name="email" id="email" placeholder="メール">
   </div>
   <div>
       <input type="password" name="password" id="password" placeholder="パスワード">
   </div>
   <div>
       <button type="button" onclick="login()">ログイン</button>
   </div>
   <div id="message">

   </div>
</form>
<script>

function login(){
    const email = document.getElementById('email').value;

    const password = document.getElementById('password').value;

    const json = JSON.stringify({
        email: email,
        password: password
    })

    const req = new XMLHttpRequest();

    req.open('POST', '/login');
    req.setRequestHeader('Content-type', 'application/json');
    req.send(json);
    req.onload = ()=>{
        let msg = '';
        if(req.status == 200){
            window.location = '/post';
        }else {
            const errorMsg = JSON.parse(req.response);
            if(errorMsg.errors){
                   errorMsg.errors.forEach(error => {
                        let paramName = error.param;
                        if(paramName ==='email'){
                            msg+='メール:'+error.msg+'<br>'
                        }else if(paramName ==='password'){
                            msg+='パスワード:'+error.msg+'<br>'
                        }
                   });
               }else if(errorMsg.error){
                   msg+= errorMsg.error;
               }
        }
        const messageTxt = document.getElementById('message');
        messageTxt.innerHTML = msg;
    }
}

</script>
<%- include('footer') %>